@import "../../sass/base/mixins";
.Tag{

}

.ContainerTag{
        display: inline;
       margin-left: 5px;
       padding-right: 10px;
       padding-left: 10px;
       padding-top: 5px;
       padding-bottom: 5px;
       color: white;


    @include respond(phone) {
        display: flex; 
        justify-content: flex-start;
        margin-bottom: 0;
        margin-left: 0;

      } 
}

