@import "../../../sass/base/mixins";

.PlaceSchedule{
    &--place{
        display:flex;
        flex-direction: row;
        background-color: #F2F5F7;
        height: 48px;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;

    }
    &--place-name{
        width: 15%;
    }

}
.item{
    margin-left: 5px;
    margin-right: 5px;

}

.false{
    display: none;
}



  