// COLORS
$color-primary-dark: #2F3E4D;
$color_nory: #4D3088;

$color-red-strong:#FC4079;
$color-blue-strong: #FF8800;
$color-orange-strong: #1AB3D9;

$color-white: #fff;
$color-black: #000;



// FONT
$default-font-size: 1.6rem;


// GRID
