@import "../../../sass//base/mixins";


.Week{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;

    
    &--day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 17rem;
    min-width: 10rem;


    @include respond(tab-land) {
        width: 14rem;
       
    }

    @include respond(tab-port) {
        width: 11rem;
       
    }

    @include respond(phone) {
        justify-content: center;
        overflow-x: visible;
        } 
    }

    @include respond(phone) {
        justify-content: flex-start;

    } 

}