@import "../../sass/base/mixins";

.CardSchedule{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-left-width: 3px;
    border-left-style: solid;
    min-width: 10rem;
    width: 17rem;
    margin-bottom: 5px;

    
    &--data{
        display: flex;
        flex-direction: column;
    }
   

    @include respond(tab-land) {
        width: 14rem;
       
    }

    @include respond(tab-port) {
        width: 11rem;
       
    }
    @include respond(phone) {
        width: 10rem;
       
    } 

}

