@import "../../sass/base/mixins";

.CardSchedule{
    padding: 5px;
    background-color: #FFE1EA;
    border-left-width: 3px;
    border-left-color: #FC4079;
    border-left-style: solid;
    min-width: 10rem;
    width: 17rem;
    margin-bottom: 5px;
    height: 60px;

    @include respond(tab-land) {
        width: 14rem;
       
    }

    @include respond(tab-port) {
        width: 11rem;
       
    }
    @include respond(phone) {
        width: 10rem;
       
    } 

}